body {
  color: black;
  background: white;
}
nav {
  line-height: 80px;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

/* main {
  margin-top: 100px;
} */

* {
  margin: 0;
  padding: 0;
}
